<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 (Not Found)</title>
    <link rel="stylesheet"
    href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <div class="container text-center">
        <div class="img"><img src="https://www.kindpng.com/picc/m/81-812148_animated-sad-face-emoji-hd-png-download.png" alt=""></div>
        <h1>404</h1>
        <p>Page not found</p>

    </div>
</body>
</html>